<mat-toolbar class="header">
  <div class="header__left">
    <button
      mat-icon-button
      class="header__menu-button"
      (click)="toggleSidenav()"
      matTooltip="Toggle menu"
    >
      <i class="fas fa-bars"></i>
    </button>

    <a href="#/home" class="header__logo">
      <span class="header__logo-text">ATLAS</span>
    </a>
  </div>

  <div class="header__center">
    <!-- Search bar placeholder - can be implemented later -->
  </div>

  <div class="header__right">
    <!-- Notifications -->
    <button mat-icon-button matTooltip="Notifications" class="header__icon-button">
      <i class="fas fa-bell"></i>
    </button>

    <!-- User menu -->
    @if (isAuthenticated$ | async) {
      <button mat-button [matMenuTriggerFor]="userMenu" class="header__user-button">
        <i class="fas fa-user-circle header__user-icon"></i>
        <span class="header__user-name">{{ (user$ | async)?.name || (user$ | async)?.login }}</span>
        <i class="fas fa-caret-down header__caret"></i>
      </button>
      <mat-menu #userMenu="matMenu" class="header__user-menu">
        <button mat-menu-item>
          <i class="fas fa-user fa-fw"></i>
          <span>Profile</span>
        </button>
        <button mat-menu-item>
          <i class="fas fa-cog fa-fw"></i>
          <span>Settings</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
          <i class="fas fa-sign-out-alt fa-fw"></i>
          <span>Sign Out</span>
        </button>
      </mat-menu>
    } @else {
      <button mat-stroked-button color="primary" class="header__sign-in">
        <i class="fas fa-sign-in-alt"></i>
        Sign In
      </button>
    }
  </div>
</mat-toolbar>
