<mat-toolbar class="header">
  <div class="header__left">
    <button
      mat-icon-button
      class="header__menu-button"
      (click)="toggleSidenav()"
      matTooltip="Toggle menu"
    >
      <i class="fas fa-bars"></i>
    </button>

    <a href="#/home" class="header__logo">
      <span class="header__logo-text">ATLAS</span>
    </a>
  </div>

  <div class="header__center">
    <!-- Search bar placeholder - can be implemented later -->
  </div>

  <div class="header__right">
    <!-- Notifications -->
    <button mat-icon-button matTooltip="Notifications" class="header__icon-button">
      <i class="fas fa-bell"></i>
    </button>

    <!-- User menu -->
    <button mat-button [matMenuTriggerFor]="userMenu" class="header__user-button">
      <span class="header__user-avatar">{{ getUserInitials() }}</span>
      <span class="header__user-name">{{ getDisplayName() }}</span>
      <i class="fas fa-caret-down header__caret"></i>
    </button>
    <mat-menu #userMenu="matMenu" class="header__user-menu">
      <div class="user-menu-header">
        <span class="user-menu-avatar">{{ getUserInitials() }}</span>
        <div class="user-menu-info">
          <span class="user-menu-name">{{ getDisplayName() }}</span>
          <span class="user-menu-login">{{ user()?.login }}</span>
        </div>
      </div>
      <mat-divider></mat-divider>
      <button mat-menu-item>
        <i class="fas fa-user fa-fw"></i>
        <span>Profile</span>
      </button>
      <button mat-menu-item>
        <i class="fas fa-cog fa-fw"></i>
        <span>Settings</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <i class="fas fa-sign-out-alt fa-fw"></i>
        <span>Sign Out</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
